.wrapper {
    background-color: var(--background-chidren);
    position: relative;
    width: 100%;
    min-height: calc(100vh - 56px);
    display: flex;
    margin-top: var(--height-header);
    
}
.friend-left {
    position: fixed;
    top: var(--height-header);
    left: 0px;
    width: 360px;
    background-color: white;
    height: 100%;
    box-shadow: 2px 2px 10px 2px #dddd;
    padding: 10px;
    overflow-y: auto;
}
.friendLeft-lable {
    font-size: 2.6rem;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px;
}
.friendLeft-nav {
    margin: 10px 0;
    
}
.friendLeft-item {
    padding: 6px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    span {
        font-weight: bold;
    }
    &:hover {
        background-color: var(--background-chidren);
    }
    
}
.friendLeft-img {
    background-color: var(--color-hoverComponent);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
    img {
        height: 60px;
        width: 60px;
        border-radius: 100%;
        border: 1px solid #ccc;
    }
}
.left-button {
    position: fixed;
    bottom: 0px;
    left: 0;
    width: 360px;
    box-shadow: 0 2px 12px  #ccc;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background: white;
    button {
        padding: 12px 20px;
        font-weight: bold;
        border-radius: 10px;
        height: 36px;
        min-width: 120px;
        background-color: var(--color-hoverComponent);
        cursor: pointer;
        &:hover {
            filter: brightness(90%);
        }
    }
    .btnDisabled {
        background-color: #f5f6f9 !important;
        color: #ccc !important;
        pointer-events: none;
        &:hover {
           background-color: #f5f6f9 !important;
        }
    }
}
.friend-right {
    width: 100%;
    margin-left: 360px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.item1 {
    position: relative;
    background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/ye/r/0_etHRYkr4X.png);
    background-position: 0px 0px;
    background-size: 222px 690px;
    width: 220px;
    height: 330px;
    background-repeat: no-repeat;
    display: inline-block;
}
.item2 {
    background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/ye/r/0_etHRYkr4X.png);
    background-position: 0px -332px;
    background-size: 222px 690px;
    width: 220px;
    height: 330px;
    background-repeat: no-repeat;
    display: inline-block;
}
.right-item {
    cursor: pointer;
    height: 330px;
    width: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    span {
        font-weight: bold;
        color: white;
       }
}
.item-img {
    
    margin-bottom: 8px;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        width: 20px;
        height: 20px;
        filter: invert(50%);
    }
    box-shadow: 0 2px 4px  #515050;
    border: 1px solid #ccc;
    border-radius: 100%;
    background-color: var(--background-chidren);
  
}
