.wrapper {
    // z-index: 1;
    position: sticky;
}

.wrapper-box {
    background-color: white;
    border-radius: 10px;
    padding: 12px 18px 6px;
    margin-bottom: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}
.label {
    margin-bottom: 10px;
    span{
        font-size: 2rem;
        font-weight: bold;
    }
}
.comment-sendStory {
    margin-bottom: 16px;
}
.input-postStory {
    
    width: 100%;
    max-width: 100%;
    background-color: var(--background-chidren);
    
    border-radius: 20px;
    padding:  6px 16px ;
    outline: none;
    border: none;
    white-space: pre-wrap;
    word-break: break-word;
    user-select: text;
}
.placeholder-inputStory {
    position: absolute;
    top: 59px;
    left: 34px;
    font-size: 1.5rem;
    color: var(--color-text);
    pointer-events: none;
    font-weight: bold;
 }
 .input-post--focusStory {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
 .button-sendCommentStory {
    
    width: 100%;
    max-width: 100%;
    background-color: var(--background-chidren);
    display: none;
    justify-content: flex-end;
    align-items: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 6px ;
    .icon-send {
        margin: 0 10px 8px 0;
        cursor: pointer;
       
    }
    
    .check-icon {
        cursor: not-allowed;
        filter: invert(50%);
    }
    

 }
//introduce
.introduce-box {
    padding: 8px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-hoverButton);
    border-radius: 10px;
    span {
        font-size: 1.5rem;
    }
    margin-bottom: 14px;
    &:hover {
        filter: brightness(95%);
        cursor: pointer;
    }
}
.introduce-live {
    display: flex;
    align-items: center;
    img {
        filter: invert(50%);
        width: 20px;
        height: 20px;
    }
    span {
        font-size: 1.5rem;
        margin: 0 14px;
    }
    .introduceLive-bold {
        font-weight: bold;
        margin-left: -10px;
        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }
    margin-bottom: 20px;
}
//friend (image)

.friend-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    margin-bottom: 5px;
    span {
        font-size: 2rem;
        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }
}
.friendBox-seeAll {
    color: var(--primary);
    font-weight: normal;

    span {
        font-size: 1.6rem;
        padding:8px;
        &:hover {
            background-color: var(--background-chidren);
            text-decoration: none;
            
        }
    }
    
}
.friend-total {
    color: var(--color-text);
    margin-bottom: 10px;
}
//list friend
.friend-person {
    margin-bottom: 20px;
    width: 100%;
}
.friend-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;    
}
.friend-item {
    width: 31%;
    max-width: 33%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
    &:hover {
        cursor: pointer;
        filter: brightness(95%);
    }
}
.friend-img {
    border-radius: 10px;
    object-fit: cover;
    overflow: hidden;
    height: 102px;
    width: 100%;
    img {
        height: 100%;
        width: 100%;
    }
}
.friend-name {
    font-size: 1.4rem;
    margin: 4px 0 0 6px;
    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}