.wrapper {
    display: flex;
    justify-content: center;
    padding: 0 226px;
    align-items: flex-start;
    background-color: var(--background-chidren);
}
.app {
    display: flex;
    align-items: flex-start;
    // max-width: 90%;
    width: 100%;
    justify-content: center;
}
.leftPostUser {
    width: 100%;
    margin-top: 16px ;
}
.rightPostUser {
    width: 58%;
    max-width: 58%;
    margin: 16px 0 0 16px ;
}